.ResumeBody{
    /* background-color: #282E34; */
    background-color: #292a2c;
    color: black;
    /* background-color: white; */
    /* width: 100%; */
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.TopPicture{
    /* background-image: url('/WillHordIBM.jpg');
    background-size: cover;
    background-position: 50% 25%; */
    /* transform: translateY(-100px); */
    /* background-color: white; */
    /* background-color: red; */
    z-index: 1000;
    height: 80vh;
    width: 100%;
}

.outerContent{
    width: 100%;
    overflow-x: hidden;
    margin-top: -30px;
    padding-top: 60px;
    min-height: 100vh;
    /* background-color: #36454f; */
    text-align: center;
}

.innerContent{
    width: 700px;
    max-width: 1024px;
    min-height: 100vh;
    color: white;
    display: block;
    text-align: left;
    margin: 0 auto;
}

.TitleDivider{
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    opacity: .3;
}

.ResumeTitle{
    padding-top:3%;
    text-align: center;
}

.SectionTitle{
    text-align: left;
    padding-top: 5%;
}

.LargeIcon{
    width: 60px;
    height: 60px;
    float: left;
    background-color: white;
    border-radius: 50%;
    opacity: .8;
    margin-left: -95px;

    /* filter: grayscale(100%); */
}

.alignRight{
    float: right;
}

.Coursework{
    list-style: disc;
}

.EducationSection{
    padding-top: 20px;
    min-height: 100px;
}

.WorkSection{
    padding-top: 40px;
    min-height: 200px;
}

.TechnicalSection{
    padding-top: 40px;
    min-height: 200px;
}

.OtherTechnicalSkills{
    padding-top: 40px;
    min-height: 200px;
}

.indent{
    padding-left: 40px;
}

.alignCenter{
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}

.sideBySide{
    /* float: left; */
    padding-right: 5%;
    margin-left: 40px;
}

.wrap{
    overflow-wrap: normal;
}


@media screen and (max-width: 725px) {
    .innerContent{
        width: 85%;
    }

    .alignRight{
        display: none;
    }

    .indent{
        padding-left: 30px;
    }
    
    .sideBySide{
        margin-left: 5px;
        padding-right: 4%;
    }

    .LargeIcon{
        display: none;
    }
}




.inTextLink{
    text-decoration: none;
    color: inherit;
}

.inTextLink:hover{
    text-decoration: none;
    color: red;
}


.FullResumeButton{
    text-align: center;
    width: 150px;
    height: 60px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    color: white;
    transition: .5s;
}

.FullResumeButton:hover{
    background-color: white;
    color: black;
}

.FullResumeButton:focus{
    outline: none;
}

.PaperButton{
    text-align: center;
    width: 120px;
    height: 50px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    color: white;
    transition: .5s;
}

.PaperButton:hover{
    background-color: white;
    color: black;
}

.PaperButton:focus{
    outline: none;
}