---
import SectionTitle from "src/components/sectionTitle.astro";
import type { Skills } from "$lib/types/resume";

interface Props {
  skills: Record<string, Skills>;
}
const { skills } = Astro.props;
---

<section class="pb-6">
  <SectionTitle>Technical Skills</SectionTitle>
  {
    Object.entries(skills).map(([title, values]) => (
      <div class="py-1">
        <b>{title}</b>:{" "}
        {values.map((skill: string, index: number) => (
          <>
            <span>{skill}</span>
            {index < values.length - 1 && <span>, </span>}
          </>
        ))}
      </div>
    ))
  }
</section>
