.box {
    min-height: 40vh;
    background-color: white;
    border-radius: 3px;
    color: black;
    position: relative;
    transition: transform .3s;
    text-align: left;
    margin-top: 12%;
}

.Title {
    font-size: 2.338376891vh;
    padding-left: 10%;
    padding-top: 7%;
}

.dividerTop {
    overflow: hidden;
    opacity: .7;
    border-color: black;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    border-radius: 10px;
}

.Summary {
    padding-left: 10%;
    font-size: 2vh;
    margin-right: 10px;
    min-height: 20vh;
}

.LinkDiv {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.dividerBottom {
    overflow: hidden;
    opacity: .7;
    border-color: black;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    border-radius: 10px;
}

.linkToProject {
    position: relative;
    /* padding-left: 15%; */
    font-size: 2vh;
}