---
import { cn } from "$lib/utils";
import LinkedIn from "$lib/icons/linkedin.svg";
import Github from "$lib/icons/github.svg";
import { Mail } from "@lucide/astro";

import { siteConfig } from "$lib/site";

const pathname = Astro.url.pathname;
---

<footer
  class="py-6 md:px-8 md:py-6 pointer-events-auto relative bg-background/80 backgrop-blur"
>
  <div class="text-center flex flex-col gap-3">
    <nav class="flex flex-row text-center space-x-4 justify-center">
      <a
        href="/"
        class={cn(
          "transition-colors hover:text-foreground/80",
          pathname === "/" ? "text-foreground" : "text-foreground/60",
        )}
      >
        Home
      </a>
      <a
        href="/resume"
        class={cn(
          "transition-colors hover:text-foreground/80",
          pathname?.startsWith("/resume")
            ? "text-foreground"
            : "text-foreground/60",
        )}
      >
        Resume
      </a>
      <a
        href="/projects"
        class={cn(
          "transition-colors hover:text-foreground/80",
          pathname?.startsWith("/projects")
            ? "text-foreground"
            : "text-foreground/60",
        )}
      >
        Projects
      </a>

      <a
        target="_blank"
        rel="noreferrer"
        href="mailto:contactwillhord@gmail.com"
        class={cn(
          "hidden text-foreground/60 transition-colors hover:text-foreground/80 lg:block",
        )}
      >
        Contact
      </a>
    </nav>
    <div class="flex flex-row items-center space-x-6 justify-center grow">
      <a
        href="https://www.linkedin.com/in/willhord/"
        class="text-white font-semibold hover:opacity-50 transition-opacity"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn link"
      >
        <LinkedIn class="h-8 w-8" />
      </a>
      <a
        href="https://github.com/WillHord"
        class="text-white font-semibold hover:opacity-50 transition-opacity"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Github link"
      >
        <Github class="h-8 w-8" />
      </a>
      <a
        href="mailto:contactwillhord@gmail.com"
        class="text-white font-semibold hover:opacity-50 transition-opacity"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Contact link"
      >
        <Mail size={40} />
      </a>
    </div>
    <div>
      <p
        class="text-balance text-center text-sm leading-loose text-muted-foreground"
      >
        Built by Will Hord. The source code is available on{" "}
        <a
          href={siteConfig.links.site_repo}
          target="_blank"
          rel="noreferrer"
          class="font-medium underline underline-offset-4"
        >
          GitHub
        </a>
      </p>
    </div>
  </div>
</footer>
