---
import { cn } from "$lib/utils";
import LinkedIn from "$lib/icons/linkedin.svg";
import Github from "$lib/icons/github.svg";
import { Mail } from "@lucide/astro";
import { buttonVariants } from "$lib/components/ui/button";
import MobileNav from "./mainnav.astro";

import { siteConfig } from "$lib/site";

const pathname = Astro.url.pathname;
---

<header
  class={`top-0 z-50 w-full px-4 ${pathname === "/" ? "absolute bg-transparent" : "border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 relative"} pointer-events-auto `}
>
  <div class="container flex h-14 max-w-screen-2xl items-center">
    <!-- <MainNav /> -->
    <MobileNav />
    <div class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
      <nav class="flex items-center">
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
        >
          <div
            class={cn(
              buttonVariants({
                variant: "ghost",
              }),
              "w-9 px-0",
            )}
          >
            <Github class="h-4 w-4" />
            <span class="sr-only">GitHub</span>
          </div>
        </a>
        <a
          href={siteConfig.links.linkedin}
          target="_blank"
          rel="noreferrer"
        >
          <div
            class={cn(
              buttonVariants({
                variant: "ghost",
              }),
              "w-9 px-0",
            )}
          >
            <LinkedIn class="h-4 w-4" />
            <span class="sr-only">aedin</span>
          </div>
        </a>
        {/* <ModeToggle /> */}
      </nav>
    </div>
  </div>
</header>
