---
import { ChevronRight } from "@lucide/astro";

interface Props {
	path: string;
	command: string;
	text?: string;
}

const { path, command, text } = Astro.props;
---

<p class="flex flex-row">
  <span class="text-blue-500">{path}</span>
  <span class="text-[#00c200]">
    <ChevronRight />
  </span>
  <span class="text-[#00c200]">{command}</span>
  <span>&nbsp;</span>
  <span class="text-gray-100 flex items-center justify-center">
    {text}
    <slot />
  </span>
</p>
