@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
}

.fade-in-modal {
    animation: fadeIn 0.5s ease-in-out;
  }

.language {
    color: black;
    margin-left: 3px;
    margin-right: 3px;
}