.top-menu-lead {
    padding: 10px;
    /* color: white; */
    display: inline-block;
    float: left;
    font-size: 25px;
    padding-left: 7%;
    font-family: Moon;
    letter-spacing: .1em;
}

@media screen and (max-width: 600px) {
    .top-menu-lead {
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}
