/* TODO: Add fade in animation for top menu */
.top-menu {
    overflow: hidden;
    padding-top: .5%;
    /* padding: 20px 50px 20px 50px; */
    user-select: none;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
    /* position: fixed;
    top: 0px;
    width: 100%; */
    color: red;
    font-family: 'Montserrat', sans-serif;

}

.top-menu > .right {
    float: right;
    /* color: white; */
    padding-right: 10%;
}

.top-menu-item{
    font-size: 17px;
    transition: .2s;
}

.top-menu > .right:hover > .top-menu-item{
    opacity: 0.2;
    transition: 0.2s;
}

.top-menu > .right > .top-menu-item:hover{
    opacity: 1;
}


.top-menu > .right > * {
    margin-left: 5px;
}

.top-menu > .left {
    float: left;
    /* color:white */
}

.top-menu > .left > * {
    margin-right: 5px;
}

.top-menu > .left > *, .top-menu > .right > * {
    padding: 11.4px;
    display: inline-block;
    text-align: center;
    min-width: 50px;
}

.top-menu *:hover{
    cursor: pointer;
}

.clear-fix {
    clear: both;
}

.top-menu .top-menu-icon {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .top-menu {
        padding: 40px 20px 20px 20px;
        max-height: 0;
        overflow: hidden;
    }

    .top-menu > .left, .top-menu > .right {
        display: none;
    }

    .top-menu-icon {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .top-menu.toggled {
        padding: 0 0 0 0;
        max-height: 1500px;
        transition: max-height 1s;
        background-color: #282E34;
        z-index: 100;
    }

    .top-menu.toggled > .left {
        border-bottom: 1px solid black;
        margin: 15px 0 0 0 ;
    }

    .top-menu.toggled *:not(.top-menu-lead):not(.burgerIconContainer) {
        float: none;
        display: block !important;
        text-align: left;
        margin: 0;
    }
}