.HomepageBody {
  margin: 0 auto;
  background-color: #292a2c;
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

#img1Container {
  width: 100%;
  min-height: 80vh;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

#img2Container {
  width: 100%;
  min-height: 80vh;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.projects {
  width: 100%;
  min-height: 80vh;
  text-align: center;
  margin: 3% 0 3% 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.projects h4 {
  color: white;
}

.innerHomepageContent {
  /* width: 800px;
  max-width: 1024px; */
  width: 70vw;
  min-height: 75vh;
  color: black;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  /* overflow-x: hidden; */
  scrollbar-width: none;
}

.boxContainer {
  padding-top: 2%;
  padding-bottom: 5%;
  width: 90%;
  display: flex;
  margin: 0 auto;
  /* display: -webkit-box; */
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  /* overflow: hidden; */
}

.homepageButton {
  margin-top: 10px;
  text-align: center;
  width: 150px;
  height: 60px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: white;
  transition: .5s;
}

.homepageButton:hover {
  border-color: white;
  background-color: white;
  color: #292a2c;
}

.homepageButton:focus {
  outline: none;
}


#whoAmI {
  width: 100%;
  min-height: 40vh;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#whoAmIInnerContent {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.TerminalTop {
  width: 100%;
  height: 30px;
  background-color: grey;
  text-align: left;
  margin-bottom: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.HomepageTerminal {
  width: 60%;
  /* max-width: 1024px; */
  min-height: 80vh;
  background-color: black;
  color: black;
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-x: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;

}

.HomepageTerminal ul {
  padding-left: 5px;
  margin-top: 3%;
}

.closeWindowIcon {
  width: 15px;
  height: 15px;
  background-color: #FF605C;
  border-radius: 50%;
  margin-left: 10px;
}

.minimizeWindowIcon {
  width: 15px;
  height: 15px;
  background-color: #FFBD44;
  border-radius: 50%;
  margin-left: 10px;
}

.expandWindowIcon {
  width: 15px;
  height: 15px;
  background-color: #00CA4E;
  border-radius: 50%;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  .innerHomepageContent {
    width: 85%;
  }

  .HomepageTerminal {
    width: 85%;
  }
}

@media screen and (max-width: 500px) {
  .boxContainer {
    flex-direction: column;
  }
}