body {
    margin: 0 auto;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    background-color: #282E34;
    color: white;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.name{
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  z-index: 1000;
}

.projects{
  width: 100%;
  min-height: 40vh;
  /* position: relative; */
  text-align: center;
  /* display: inline-block; */
  padding-top: 10px;
  margin: 0 auto;
  background-color: white;
  color: black;
}

.boxContainer{
  padding-top: 2%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
  overflow-x: scroll;
  display: inline-block;
  white-space: nowrap;
}

.whoAmI{
  width: 100%;
  min-height: 40vh;
  text-align: left;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #0f0f0f;
}

.img2{
  width: 100%;
  height: 80vh;
  /* text-align: center; */
  /* padding-top: 10px; */
  
  background-image: url('/WillHordUCSantaCruz.jpg');
  background-size: cover;
  background-position: center;
  background-position-x: left;
  background-attachment: fixed;
}