/* .solar_system{
    width: 100%;
    height:95vh;
    text-align: center;
    padding-top: 10px;
    background-color: red;
} */

/* .whoAmI{
    width: 100%;
    height: 40vh;
    text-align: center;
    position: relative;
    padding-top: 10px;
    background-color: seagreen;
} */

.picOrGame{
    width: 100%;
    height: 80vh;
    text-align: center;
    padding-top: 10px;
    background-color: steelblue;
}

/* .projects{
    width: 100%;
    height: 40vh;
    text-align: center;
    padding-top: 10px;
    background-color: wheat;
} */

.clickerGame{
    width: 100%;
    height: 80vh;
    text-align: center;
    padding-top: 10px;
    background-color: tomato;
}

/* .bottomBar{
    width: 100%;
    height: 35vh;
    text-align: center;
    background-color: chocolate;
    padding-top: 1vh;
} */