h3 {
  color: white;
}

.terminalText {
  font-family: Andale Mono, AndaleMono, monospace;
  color: white;
  margin: 0;
  font-size: 20px;
  padding-bottom: 15px;
}

.cursor {
  border-left: .1em solid white;
  animation: blink .7s steps(1) infinite;
}

.cursorComplete {
  border: none;
  animation: none;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}